@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.font-code {
    @apply font-['JetBrains_Mono'] font-extralight;
}

.font-system {
    @apply font-['Segoe_UI',system-ui,sans-serif];
}

.font-text {
    @apply font-['Roboto'];
}

:root {
    @apply overflow-hidden;
}

body {
    @apply font-['Roboto'] font-light m-0;
}

.btn-i-active {
    @apply transition-colors bg-blue-400/15 hover:bg-white/15 active:bg-white/15 border-1 border-blue-400/10 hover:border-white/15 rounded-[5px];
}

.btn-i-inactive {
    @apply bg-black text-gray-400 pointer-events-none border-1 border-white/15 rounded-[5px];
}
.btn-i-active .icon {
    @apply w-[14px] h-[14px] md:w-4 md:h-4;
}
.btn-i-inactive .icon{
    @apply w-[14px] h-[14px] md:w-4 md:h-4 text-gray-400;
}

.breadcrumb-style {
    @apply px-1 py-1 md:px-1 md:py-1 mx-0.5 md:mx-1 rounded-lg no-underline;
}

.panel {
    @apply bg-gray-950 border-gray-800 border-2 rounded-lg m-2 h-full shadow-black shadow-2xl;
}